Repository picasso/neuro-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

setup database layer with knex and postgresql
  .cursor/DATABASE-SETUP.md
  DEVELOPMENT-PLAN.md
  package.json
  src/lib/db/index.ts
  src/lib/db/migrations/20260120_001_create_users_table.ts
  src/lib/db/migrations/20260120_002_create_user_profiles_table.ts
  src/lib/db/migrations/20260120_003_create_sessions_table.ts
  src/lib/db/migrations/20260120_004_create_skills_table.ts
  src/lib/db/migrations/20260120_005_setup_fulltext_search.ts
  src/lib/db/seeds/001_skills.ts
  src/lib/db/seeds/002_test_users.ts
  src/lib/db/test-connection.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

fix: use tsx to run knex migrations and seeds
  .cursor/DATABASE-SETUP.md
  docker-compose.yml
  package.json
Due: prettier --write

fix: resolve yarn warnings and optimize dependency management
  .gitignore
  .prettierignore
  .yarnrc
  package.json
  yarn.lock
Due: prettier --write

implement core API architecture and infrastructure
  DEVELOPMENT-PLAN.md
  src/app/api/docs/route.ts
  src/app/api/health/route.ts
  src/app/api/skills/route.ts
  src/app/api/swagger/page.tsx
  src/lib/swagger/config.ts
  src/lib/validations/common.ts
  src/lib/validations/user.ts
  src/middleware.ts
  src/types/swagger-ui-react.d.ts
  src/utils/api-response.ts
  src/utils/errors.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

fix deprecated middleware.ts to the new proxy.ts
  src/proxy.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

fix git hooks to work with 'fnm'
  .cursor/GIT-HOOKS-SETUP.md
  .husky/pre-commit
  .husky/pre-push
Due: prettier --write

fix knex usage in API
  next.config.mjs
  src/lib/db/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

small fix
  .cursor/rules/role-expertise/RULE.md
Due: prettier --write

improve swagger ui
  src/app/api/docs/route.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

add section for 'Swagger UI -> Scalar'
  ARCHITECTURE-DECISIONS.md
Due: prettier --write

migrate from Swagger UI to Scalar API documentation
  ARCHITECTURE-DECISIONS.md
  DEVELOPMENT-PLAN.md
  README.md
  package.json
  src/app/api/reference/route.ts
  src/app/api/swagger/page.tsx
  src/proxy.ts
  src/types/swagger-ui-react.d.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

improve rule
  .cursor/rules/anti-patterns/RULE.md
Due: prettier --write

implement Better Auth integration (Stage 1.1)
  src/app/api/auth/[...all]/route.ts
  src/lib/auth/client.ts
  src/lib/auth/config.ts
  src/lib/auth/index.ts
  src/lib/auth/server.ts
  src/lib/db/migrations/20260122162838_update_users_for_better_auth.ts
  src/middleware.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

fix deprecated 'middleware.ts'
  src/lib/db/migrations/20260122162838_update_users_for_better_auth.ts
  src/middleware.ts
  src/proxy.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

add rules for next.js development
  .cursor/rules/next-js/RULE.md
Due: prettier --write

integrate Kysely query builder with auto-generated types
  .cursor/KYSELY-USAGE.md
  package.json
  src/lib/db/examples.ts
  src/lib/db/index.ts
  src/lib/db/kysely.ts
  src/types/database.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

implement Better Auth with shared connection pool architecture
  ARCHITECTURE-DECISIONS.md
  DEVELOPMENT-PLAN.md
  package.json
  src/lib/auth/config.ts
  src/lib/db/index.ts
  src/lib/db/kysely.ts
  src/lib/db/migrations/20260122162838_update_users_for_better_auth.ts
  src/lib/db/pool.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

add collaboration rules
  .cursor/rules/collaboration/RULE.md
Due: prettier --write

document core Better Auth endpoints in OpenAPI/Scalar
  ARCHITECTURE-DECISIONS.md
  src/lib/swagger/config.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

implement email verification with Resend and React Email (stages 1.3-1.4)
  ARCHITECTURE-DECISIONS.md
  DEVELOPMENT-PLAN.md
  env.example
  package.json
  src/lib/auth/config.ts
  src/lib/email/index.ts
  src/lib/email/templates/verification-email.tsx
  src/lib/swagger/config.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

fix import order desc
  .cursor/rules/code-style/RULE.md
Due: prettier --write

improve rules
  .cursor/rules/code-style/RULE.md
  .cursor/rules/next-js/RULE.md
Due: prettier --write

add IDE commands
  .cursor/commands/api-endpoint.md
  .cursor/commands/circular.md
  .cursor/commands/dlogs.md
  .cursor/commands/explore.md
  .cursor/commands/feature.md
  .cursor/commands/fixts.md
  .cursor/commands/migration.md
  .cursor/commands/pr.md
  .cursor/commands/review-pr.md
  .cursor/commands/slow.md
  .cursor/commands/tests.md
Due: prettier --write

fix project settings
  .vscode/settings.json
Due: prettier --write

add 'refactor' IDE command
  .cursor/commands/refactor.md
Due: prettier --write

refactor: centralize metadata with modular config system
  src/app/freelancers/page.tsx
  src/app/how-it-works/page.tsx
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/post-project/page.tsx
  src/app/projects/page.tsx
  src/app/signup/page.tsx
  src/components/providers/ThemeRegistry.tsx
  src/components/providers/index.ts
  src/components/ui-theme/index.ts
  src/components/ui-theme/theme.ts
  src/components/ui/Footer.tsx
  src/components/ui/Header.tsx
  src/components/ui/LinkBehaviour.tsx
  src/components/ui/index.ts
  src/config/metadata/constants.ts
  src/config/metadata/index.ts
  src/config/metadata/pages.ts
  src/config/metadata/utils.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

chore: improve imports structure and update dependencies
  ARCHITECTURE-DECISIONS.md
  package.json
  src/app/api/docs/route.ts
  src/app/api/skills/route.ts
  src/lib/swagger/index.ts
  src/lib/validations/index.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

cleaning
  src/app/api/.gitkeep
  src/components/ui/.gitkeep
  src/lib/auth/.gitkeep
  src/lib/db/.gitkeep
  src/utils/.gitkeep
Due: none

refactor: migrate to named exports for better IDE refactoring
  src/lib/auth/config.ts
  src/lib/db/index.ts
  src/lib/email/templates/verification-email.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

improve IDE commands
  .cursor/commands/feature.md
  .cursor/commands/refactor.md
Due: prettier --write

feat(landing): implement landing page with all sections
  DEVELOPMENT-PLAN.md
  package.json
  src/app/page.tsx
  src/components/features/home/benefits-section.tsx
  src/components/features/home/faq-section.tsx
  src/components/features/home/hero-section.tsx
  src/components/features/home/index.ts
  src/components/features/home/showcase-section.tsx
  src/components/ui/Footer.tsx
  src/components/ui/footer.tsx
  src/components/ui/header.tsx
  src/components/ui/index.ts
  src/config/metadata/utils.ts
  src/config/mocks/index.ts
  src/config/mocks/landing-content.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

create 'ver' command
  .cursor/commands/ver.md
Due: prettier --write

chore: bump version to 0.1.4 (stage 1.4 completed)
  package.json
Due: prettier --write

improve rules
  .cursor/commands/explore.md
  .cursor/commands/feature.md
  .cursor/commands/pr.md
Due: prettier --write

Add Railway PostgreSQL automation and deployment infrastructure
  .cursor/DATABASE-SETUP.md
  .github/workflows/deploy-production.yml
  .gitignore
  ARCHITECTURE-DECISIONS.md
  DEVELOPMENT-PLAN.md
  README.md
  backups/.gitkeep
  backups/railway/.gitkeep
  docs/RAILWAY-QUICKSTART.md
  docs/RAILWAY-SETUP.md
  package.json
  scripts/db/README.md
  scripts/db/backup-railway.sh
  scripts/db/export-data.sh
  scripts/db/import-data.sh
  scripts/db/migrate-production.sh
Due: prettier --write

Fix Railway SSL certificate verification
  ARCHITECTURE-DECISIONS.md
  eslint.config.mjs
  knexfile.ts
  package.json
  src/lib/db/pool.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

Add CHANGELOG.md with v0.1.5 release notes
  CHANGELOG.md
Due: prettier --write

improve rules
  .cursor/commands/feature.md
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,css,md})
  bash -c 'tsc --noEmit': any of: *.{ts,tsx}
