Repository picasso/neuro-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

.lintstagedrc:

{
	"*.{ts,tsx}": [
		"eslint --fix --max-warnings 0",
		"prettier --write",
		"bash -c 'tsc --noEmit'"
	],
	"*.{js,jsx,json,css,md}": ["prettier --write"]
}

feat(api): add freelancer, portfolio and blob upload routes
  src/app/api/blob/portfolio-upload/route.ts
  src/app/api/freelancers/[id]/portfolio/[itemId]/route.ts
  src/app/api/freelancers/[id]/portfolio/route.ts
  src/app/api/freelancers/[id]/route.ts
  src/app/api/freelancers/me/route.ts
  src/app/api/skills/route.ts
  src/app/api/user-skills/route.ts
  src/app/api/user/profile/route.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

fix(auth): upsert user profile and skills on sign-up
  src/lib/auth/config.ts
  src/lib/auth/server.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(stores): align effector models and validations
  src/alerts/model.tsx
  src/lib/logger/index.ts
  src/lib/logger/watched.ts
  src/lib/validations/common.ts
  src/lib/validations/freelancers.ts
  src/lib/validations/index.ts
  src/lib/validations/onboarding.ts
  src/lib/validations/user.ts
  src/stores/auth-login/index.ts
  src/stores/auth-login/model.test.ts
  src/stores/auth-login/model.ts
  src/stores/auth-login/types.ts
  src/stores/freelancer-portfolio/index.ts
  src/stores/freelancer-portfolio/model.ts
  src/stores/freelancer-portfolio/types.ts
  src/stores/freelancer-profile/index.ts
  src/stores/freelancer-profile/model.ts
  src/stores/freelancer-profile/types.ts
  src/stores/onboarding/model.ts
  src/stores/onboarding/types.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(ui): add freelancer dashboard and profile/portfolio editors
  src/app/dashboard/page.tsx
  src/app/freelancers/[id]/page.tsx
  src/components/features/freelancer-profile/freelancer-profile-editor.tsx
  src/components/features/freelancer-profile/index.ts
  src/components/features/freelancer-profile/public-profile-view.tsx
  src/components/forms/portfolio/index.ts
  src/components/forms/portfolio/portfolio-editor.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(ui): prefer Stack layouts and simplify auth/header UI
  src/app/login/login-form.tsx
  src/app/login/page.tsx
  src/app/signup/page.tsx
  src/components/features/home/benefits-section.tsx
  src/components/features/home/showcase-section.tsx
  src/components/forms/onboarding/steps/client-profile-step.tsx
  src/components/forms/onboarding/steps/credentials-step.tsx
  src/components/forms/onboarding/steps/email-verification-step.tsx
  src/components/forms/onboarding/steps/freelancer-profile-step.tsx
  src/components/forms/onboarding/steps/skills-selection-step.tsx
  src/components/ui/assets.tsx
  src/components/ui/footer.tsx
  src/components/ui/header.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

docs(brand): align docs and README with NeuroGig naming
  README.md
  docs/DATABASE-SETUP.md
  docs/KYSELY-USAGE.md
  docs/RAILWAY-QUICKSTART.md
  docs/RAILWAY-SETUP.md
  docs/VERCEL-QUICKSTART.md
  docs/VERCEL-SETUP.md
  env.example
  scripts/db/README.md
Due: prettier --write

chore(pr): simplify pull request template
  .github/pull_request_template.md
Due: prettier --write

small fix
  .cursor/commands/pr.md
Due: prettier --write

fix(stage3): persist portfolio toolsUsed as jsonb and honor client role
  src/app/api/freelancers/[id]/portfolio/route.ts
  src/app/api/freelancers/me/route.ts
  src/app/dashboard/page.tsx
  src/lib/auth/config.ts
  src/lib/auth/server.ts
  src/lib/db/queries/freelancers.ts
  src/stores/onboarding/model.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

chore: bump version to 0.3.3 (stage 3.3 completed)
  DEVELOPMENT-PLAN.md
  package.json
Due: prettier --write

docs(changelog): add 0.3.3 release notes
  CHANGELOG.md
Due: prettier --write

chore(cursor): add git remote/auth troubleshooting rule
  .cursor/rules/git-remote-auth/RULE.md
Due: prettier --write

small fix
  .gitignore
Due: none

chore(eslint): enable effector plugin configs
  .cursor/rules/effector/RULE.md
  eslint.config.mjs
  package.json
  src/lib/logger/debug-effector.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(alerts): store-driven updateAlert progress
  src/alerts/README.md
  src/alerts/alert.tsx
  src/alerts/index.ts
  src/alerts/model.tsx
  src/app/playground/demo-alerts.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(theme): apply new theme tokens and component styling
  src/alerts/alert.tsx
  src/app/fonts.ts
  src/app/layout.tsx
  src/components/features/home/hero-section.tsx
  src/components/ui-theme/components.ts
  src/components/ui-theme/feedback.ts
  src/components/ui-theme/mui-modules.d.ts
  src/components/ui-theme/theme.ts
  src/components/ui/header.tsx
  tsconfig.json
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

fix(db): prevent too many Postgres clients in dev
  README.md
  src/lib/db/index.ts
  src/lib/db/knex.ts
  src/lib/db/pool.ts
  src/lib/db/test-connection.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

add new icons to 'assets'
  src/components/ui/assets.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

improve theme support
  src/components/ui-theme/mui-modules.d.ts
  src/components/ui-theme/theme.ts
  src/components/ui/footer.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(uploader): add FileUploader and playground demo
  package.json
  src/app/playground/demo-uploader.tsx
  src/app/playground/page.tsx
  src/components/ui/file-uploader.tsx
  src/components/ui/index.ts
  src/utils/file.ts
  src/utils/index.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(uploader): polish FileUploader API and docs
  src/app/playground/demo-uploader.tsx
  src/components/ui/FILE-UPLOADER.md
  src/components/ui/file-uploader.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

add intermediate docs
  .cursor/plans/s3_portfolio_gallery_e083737c.plan.md
  .cursor/plans/stage3-system-and-fixes-plan.md
  docs/MUI-THEME.md
Due: prettier --write

draft implementation of portfolio support
  package.json
  src/app/api/freelancers/[id]/portfolio/route.ts
  src/components/ui/index.ts
  src/lib/db/migrations/20260216_013_portfolio_items_add_media_dimensions_and_caption.ts
  src/lib/db/queries/freelancers.ts
  src/lib/validations/freelancers.ts
  src/stores/freelancer-portfolio/model.ts
  src/stores/freelancer-portfolio/types.ts
  src/types/database.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(portfolio): finalize playground demo and gallery components
  .gitignore
  src/app/playground/demo-portfolio.tsx
  src/app/playground/page.tsx
  src/app/playground/pictures/[file]/route.ts
  src/app/playground/pictures/index.ts
  src/components/ui/PORTFOLIO.md
  src/components/ui/assets.tsx
  src/components/ui/index.ts
  src/components/ui/portfolio-album.tsx
  src/components/ui/portfolio-item.tsx
  src/components/ui/portfolio-viewer.tsx
  src/components/ui/portfolio.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

fix(db): run Better Auth migrations before Knex
  .github/workflows/deploy-production.yml
  README.md
  docs/DATABASE-SETUP.md
  next.config.mjs
  package.json
  scripts/db/migrate-production.sh
  src/app/playground/pictures/[file]/route.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

fix bug with 'defaults' in 'simpleMarkdown'
  src/utils/simple-markdown.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

improve alerts custom styles and icons
  src/alerts/alert.tsx
  src/app/playground/demo-alerts.tsx
  src/components/ui-theme/feedback.ts
  src/components/ui/assets.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(dev): add DB health alert and safe get-session
  src/app/api/auth/get-session/route.ts
  src/app/layout.tsx
  src/components/db-health-alert.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

draft implementation of transition between 2 images
  src/components/ui/portfolio-viewer.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

add patronum module
  package.json
  yarn.lock
Due: prettier --write

effector implementation of transition between 2 images
  src/components/ui/portfolio-viewer.tsx
  src/lib/logger/debug-load.ts
  src/lib/logger/index.ts
  src/lib/logger/watched.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(portfolio-viewer): replace multiple stores with $phase state machine
  src/components/ui-theme/components.ts
  src/components/ui/PORTFOLIO.md
  src/components/ui/portfolio-viewer.tsx
  src/components/ui/portfolio.tsx
  src/lib/logger/watched.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(theme): add MUI Link color="contrast" variant
  src/components/ui-theme/components.ts
  src/components/ui-theme/mui-modules.d.ts
  src/components/ui-theme/theme.ts
  src/components/ui/footer.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

chore: bump version to 0.3.4
  .cursor/commands/ver.md
  CHANGELOG.md
  package.json
Due: prettier --write

feat: integrate Serena MCP for semantic code tools
  .cursor/mcp.json
  .serena/.gitignore
  .serena/memories/code_style_and_conventions.md
  .serena/memories/codebase_structure.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/project.yml
Due: prettier --write

small fixes
  .cursor/plans/mui-vs-shadcn-comparison.md
  .cursor/plans/s3-portfolio-gallery-plan.md
  .cursor/plans/stage3-system-and-fixes-plan.md
Due: prettier --write

add shadcn migration plan
  .cursor/plans/mui-to-shadcn-migration.md
Due: prettier --write

fix: format mcp.json
  .cursor/mcp.json
Due: prettier --write

chore: update cursor rules and serena memories for shadcn migration
  .cursor/rules/anti-patterns/RULE.md
  .cursor/rules/code-style/RULE.md
  .cursor/rules/develop/RULE.md
  .cursor/rules/next-js/RULE.md
  .cursor/rules/role-expertise/RULE.md
  .cursor/rules/tech-stack/RULE.md
  .gitignore
  .serena/memories/code_style_and_conventions.md
  .serena/memories/project_overview.md
Due: prettier --write

feat: add Tailwind CSS v4 + shadcn/ui infrastructure (Phase 1)
  .cursor/mcp.json
  .vscode/settings.json
  components.json
  design-system/neurohub/MASTER.md
  package.json
  postcss.config.mjs
  src/app/globals.css
  src/app/layout.tsx
  src/lib/utils.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'
