Repository picasso/neuro-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(rules): migrate to .mdc format, consolidate nextjs rules
  .cursor/rules/anti-patterns/RULE.md
  .cursor/rules/api-design.mdc
  .cursor/rules/architecture.mdc
  .cursor/rules/architecture/RULE.md
  .cursor/rules/code-style.mdc
  .cursor/rules/collaboration.mdc
  .cursor/rules/db-scripts.mdc
  .cursor/rules/develop.mdc
  .cursor/rules/effector.mdc
  .cursor/rules/forbidden.mdc
  .cursor/rules/git-remote-auth.mdc
  .cursor/rules/immer.mdc
  .cursor/rules/next-js/RULE.md
  .cursor/rules/overview/RULE.md
  .cursor/rules/react-nextjs.mdc
  .cursor/rules/role-expertise/RULE.md
  .cursor/rules/security.mdc
  .cursor/rules/serena-memory.mdc
  .cursor/rules/tech-stack.mdc
  .cursor/rules/testing.mdc
Due: prettier --write

docs: add AGENTS.md, MCP.md, docs/MCP-GUIDE.md
  AGENTS.md
  MCP.md
  docs/MCP-GUIDE.md
Due: prettier --write

feat(mcp): add and configure MCP servers, update docs
  .cursor/mcp.json
  AGENTS.md
  MCP.md
  docs/MCP-GUIDE.md
Due: prettier --write

docs(agents): add Cursor agents and update AGENTS.md
  .cursor/agents/api-gateway.md
  .cursor/agents/code-reviewer.md
  .cursor/agents/cursor-expert.md
  .cursor/agents/fullstack-dev.md
  .cursor/agents/mcp-builder.md
  .cursor/agents/test-engineer.md
  AGENTS.md
Due: prettier --write

chore(skills): add react-component and test-generator skills, SKILLS-GUIDE docs
  .cursor/skills/react-component/SKILL.md
  .cursor/skills/test-generator/SKILL.md
  .gitignore
  .markdownlint.json
  .prettierignore
  .serena/project.yml
  TODO.md
  docs/SKILLS-GUIDE.md
Due: prettier --write

refactor(playground): Phase 2 — shadcn Playground with component demos
  _temp-role-expertise/RULE.md
  components.json
  package.json
  src/app/globals.css
  src/app/playground-old/demo-alerts.tsx
  src/app/playground-old/demo-icons.tsx
  src/app/playground-old/demo-portfolio.tsx
  src/app/playground-old/demo-uploader.tsx
  src/app/playground-old/layout.tsx
  src/app/playground-old/page.tsx
  src/app/playground-old/pictures/[file]/route.ts
  src/app/playground-old/pictures/index.ts
  src/app/playground/components/component-selector.tsx
  src/app/playground/components/quick-access.tsx
  src/app/playground/data/components.ts
  src/app/playground/demos/index.tsx
  src/app/playground/demos/placeholder.tsx
  src/app/playground/layout.tsx
  src/app/playground/page.tsx
  src/components/shadcn/button.tsx
  src/components/shadcn/command.tsx
  src/components/shadcn/dialog.tsx
  src/components/shadcn/popover.tsx
  src/components/shadcn/separator.tsx
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

chore: cleaning
  .cursor/skills/ui-ux-pro-max
  .gitignore
Due: none

chore: improve 'Playground' structure and styles
  src/app/playground/components-selector.tsx
  src/app/playground/components.ts
  src/app/playground/demo-placeholder.tsx
  src/app/playground/demo.tsx
  src/app/playground/page.tsx
  src/app/playground/quick-access.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

docs: add file organization rule and AGENTS.md section
  .cursor/rules/file-organization.mdc
  AGENTS.md
Due: prettier --write

feat(ui): add font switcher (Manrope, Inter, Open Sans) in header
  docs/FONT-SWITCHER-REMOVAL.md
  src/app/fonts.ts
  src/app/globals.css
  src/app/layout.tsx
  src/components/providers/font-provider.tsx
  src/components/providers/index.ts
  src/components/ui/header.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(ui): MUI→shadcn Phase 3 — icon system and Playground demo
  src/app/playground/components.ts
  src/app/playground/demo-icons.tsx
  src/app/playground/demo.tsx
  src/components/ui/assets.tsx
  src/components/ui/icon.tsx
  src/components/ui/icons/index.tsx
  src/components/ui/icons/linkedin.tsx
  src/components/ui/icons/spinner.tsx
  src/components/ui/icons/telegram.tsx
  src/components/ui/icons/x-twitter.tsx
  src/components/ui/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

chore(prettier): migrate config to ESM and add tailwind canonical classes plugin
  .prettierrc
  package.json
  prettier.config.mjs
  yarn.lock
Due: prettier --write

feat(playground): add settings panel with context portal and fix icon system
  src/app/playground/components-selector.tsx
  src/app/playground/demo-icons.tsx
  src/app/playground/page.tsx
  src/app/playground/settings-context.tsx
  src/components/ui/assets.tsx
  src/components/ui/icon.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(ui): enable Tailwind preflight, add shadcn settings components
  src/app/globals.css
  src/app/playground/demo-icons.tsx
  src/app/playground/page.tsx
  src/components/shadcn/command.tsx
  src/components/shadcn/label.tsx
  src/components/shadcn/select.tsx
  src/components/shadcn/slider.tsx
  src/components/shadcn/switch.tsx
  src/components/shadcn/toggle-group.tsx
  src/components/shadcn/toggle.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(icons): migrate all Icon consumers to new API, fix TS errors
  src/alerts/alert.tsx
  src/app/playground-old/demo-alerts.tsx
  src/app/playground-old/demo-icons.tsx
  src/app/playground/components-selector.tsx
  src/app/playground/demo-placeholder.tsx
  src/app/playground/page.tsx
  src/components/features/home/benefits-section.tsx
  src/components/features/home/faq-section.tsx
  src/components/features/home/showcase-section.tsx
  src/components/forms/onboarding/steps/email-verification-step.tsx
  src/components/forms/onboarding/steps/role-selection-step.tsx
  src/components/ui/assets.tsx
  src/components/ui/file-uploader.tsx
  src/components/ui/footer.tsx
  src/components/ui/portfolio-item.tsx
  src/components/ui/portfolio-viewer.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

chore: remove @mui/icons-material dependency
  next.config.mjs
  package.json
  yarn.lock
Due: prettier --write

chore: fnm multishells fix
  .husky/pre-commit
  .husky/pre-push
  docs/GIT-HOOKS-SETUP.md
  package.json
Due: prettier --write

refactor(playground): migrate to Effector settings-store from settings-context
  src/app/playground/components.tsx
  src/app/playground/demo-icons-settings.tsx
  src/app/playground/demo-icons.tsx
  src/app/playground/demo-placeholder.tsx
  src/app/playground/demo.tsx
  src/app/playground/page.tsx
  src/app/playground/settings-context.tsx
  src/app/playground/settings-store.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

chore: fix all Icon types, deprecations and missing icons
  src/alerts/alert.tsx
  src/app/playground-old/demo-alerts.tsx
  src/app/playground-old/demo-icons.tsx
  src/app/playground/demo-icons-settings.tsx
  src/app/playground/demo-icons.tsx
  src/components/ui/assets.tsx
  src/components/ui/button.tsx
  src/components/ui/footer.tsx
  src/components/ui/icon.tsx
  src/components/ui/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(ui): add Stack layout component
  src/app/playground/demo-icons-settings.tsx
  src/app/playground/demo-icons.tsx
  src/app/playground/demo-placeholder.tsx
  src/app/playground/page.tsx
  src/app/playground/quick-access.tsx
  src/components/ui/index.ts
  src/components/ui/stack.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(ui): migrate Button to shadcn API
  src/app/freelancers/page.tsx
  src/app/how-it-works/page.tsx
  src/app/login/login-form.tsx
  src/app/playground-old/demo-alerts.tsx
  src/app/playground-old/demo-portfolio.tsx
  src/app/playground/components.tsx
  src/app/playground/demo-buttons-settings.tsx
  src/app/playground/demo-buttons.tsx
  src/app/post-project/page.tsx
  src/app/projects/page.tsx
  src/components/features/freelancer-profile/freelancer-profile-editor.tsx
  src/components/features/home/hero-section.tsx
  src/components/forms/onboarding/steps/client-profile-step.tsx
  src/components/forms/onboarding/steps/credentials-step.tsx
  src/components/forms/onboarding/steps/email-verification-step.tsx
  src/components/forms/onboarding/steps/freelancer-profile-step.tsx
  src/components/forms/onboarding/steps/skills-selection-step.tsx
  src/components/forms/portfolio/portfolio-editor.tsx
  src/components/shadcn/button.tsx
  src/components/ui/button.tsx
  src/components/ui/header.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(ui): improve Button and IconButton wrappers
  src/app/globals.css
  src/app/playground/components.tsx
  src/app/playground/demo-buttons-settings.tsx
  src/app/playground/demo-buttons.tsx
  src/app/playground/demo-icon-buttons-settings.tsx
  src/app/playground/demo-icon-buttons.tsx
  src/app/playground/demo-icons.tsx
  src/components/shadcn/button.tsx
  src/components/ui/button.tsx
  src/components/ui/footer.tsx
  src/components/ui/icon-button.tsx
  src/components/ui/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

fix: error with HrefButton as server component
  src/app/playground/demo-icon-buttons.tsx
  src/components/ui/button.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

fix: MUI IconButton usage in the project
  src/components/forms/onboarding/steps/credentials-step.tsx
  src/components/forms/portfolio/portfolio-editor.tsx
  src/components/ui/file-uploader.tsx
  src/components/ui/portfolio-viewer.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(ui): move markdown styles to global.css as Tailwind
  src/alerts/alert.tsx
  src/app/globals.css
  src/components/ui-theme/feedback.ts
  src/components/ui/text-styled.tsx
  src/utils/index.ts
  src/utils/simple-markdown.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

fix: replace legacy props and values before refactoring TextStyled
  src/alerts/alert.tsx
  src/app/dashboard/page.tsx
  src/app/freelancers/[id]/page.tsx
  src/app/freelancers/page.tsx
  src/app/how-it-works/page.tsx
  src/app/login/login-form.tsx
  src/app/playground-old/demo-alerts.tsx
  src/app/playground-old/demo-icons.tsx
  src/app/playground-old/page.tsx
  src/app/post-project/page.tsx
  src/app/projects/page.tsx
  src/components/features/freelancer-profile/freelancer-profile-editor.tsx
  src/components/features/freelancer-profile/public-profile-view.tsx
  src/components/features/home/benefits-section.tsx
  src/components/features/home/faq-section.tsx
  src/components/features/home/hero-section.tsx
  src/components/features/home/showcase-section.tsx
  src/components/forms/onboarding/progress-stepper.tsx
  src/components/forms/onboarding/steps/client-profile-step.tsx
  src/components/forms/onboarding/steps/credentials-step.tsx
  src/components/forms/onboarding/steps/email-verification-step.tsx
  src/components/forms/onboarding/steps/freelancer-profile-step.tsx
  src/components/forms/onboarding/steps/role-selection-step.tsx
  src/components/forms/onboarding/steps/skills-selection-step.tsx
  src/components/forms/portfolio/portfolio-editor.tsx
  src/components/ui/file-uploader.tsx
  src/components/ui/footer.tsx
  src/components/ui/header.tsx
  src/components/ui/portfolio-viewer.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(ui): migrate TextStyled to pure React + Tailwind CSS
  src/app/globals.css
  src/app/playground/components.tsx
  src/app/playground/demo-typography-settings.tsx
  src/app/playground/demo-typography.tsx
  src/components/ui/text-styled.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(ui): migrate playground to Stack and TextStyled
  src/app/playground/demo-buttons.tsx
  src/app/playground/demo-icon-buttons.tsx
  src/app/playground/demo-icons-settings.tsx
  src/app/playground/demo-icons.tsx
  src/app/playground/demo-placeholder.tsx
  src/app/playground/demo-typography.tsx
  src/app/playground/page.tsx
  src/components/features/freelancer-profile/public-profile-view.tsx
  src/components/features/home/showcase-section.tsx
  src/components/forms/onboarding/progress-stepper.tsx
  src/components/ui/file-uploader.tsx
  src/components/ui/portfolio-viewer.tsx
  src/components/ui/text-styled.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(playground): add utility components to reduce demo repetition
  src/app/playground/components-utils.tsx
  src/app/playground/demo-buttons-settings.tsx
  src/app/playground/demo-buttons.tsx
  src/app/playground/demo-icon-buttons-settings.tsx
  src/app/playground/demo-icon-buttons.tsx
  src/app/playground/demo-icons-settings.tsx
  src/app/playground/demo-icons.tsx
  src/app/playground/demo-typography-settings.tsx
  src/app/playground/demo-typography.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

chore(playground): improve utility components and small fixes
  src/app/globals.css
  src/app/playground/components-utils.tsx
  src/app/playground/demo-buttons-settings.tsx
  src/app/playground/demo-buttons.tsx
  src/app/playground/demo-icon-buttons.tsx
  src/app/playground/demo-icons.tsx
  src/app/playground/demo-typography-settings.tsx
  src/app/playground/demo-typography.tsx
  src/components/ui/button.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

fix: resolve circular dependencies
  src/alerts/alert.tsx
  src/alerts/model.ts
  src/alerts/plugin.tsx
  src/components/ui-theme/components.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

chore: add link to playground-old
  src/app/playground/page.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(ui): replace MUI Link with Tailwind wrapper (phase 4.3)
  src/app/dashboard/page.tsx
  src/components/features/freelancer-profile/public-profile-view.tsx
  src/components/ui-theme/components.ts
  src/components/ui/footer.tsx
  src/components/ui/header.tsx
  src/components/ui/index.ts
  src/components/ui/link-behaviour.tsx
  src/components/ui/link.tsx
  src/components/ui/portfolio-viewer.tsx
  src/utils/simple-markdown.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

improve(cursor): update docs with barrel hygiene and use-client references
  .cursor/rules/file-organization.mdc
  .cursor/rules/forbidden.mdc
  .cursor/rules/react-nextjs.mdc
  .cursor/rules/use-client.mdc
  .serena/memories/codebase_structure.md
  AGENTS.md
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,css,md})
  bash -c 'tsc --noEmit': any of: *.{ts,tsx}
