Repository picasso/neuro-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

fix(db): migrate-production env, production status, pending migration labels
  scripts/db/migrate-production.sh
  scripts/db/migrate-shared.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

fix(projects): Russian validation feedback for project applications
  package.json
  scripts/db/delete-applications.ts
  src/features/projects/project-application-form.tsx
  src/lib/db/queries/projects.ts
  src/lib/validations/projects.test.ts
  src/lib/validations/projects.ts
  src/stores/project-applications/model.ts
  src/utils/api-error-user-message.ts
  src/utils/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

chore(release): small fix
  .serena/project.yml
Due: none

feat(alerts): add relaxed prop to AlertComponent and Alert for improved spacing
  src/alerts/alert.tsx
  src/alerts/model.ts
  src/stores/auth-login/model.ts
  src/ui/alert.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

fix(playground): enhance demo settings with Card wrapper
  src/features/playground/demo-aaa-settings.tsx
  src/features/playground/demo-aaa.tsx
  src/ui/card.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(docs): update some docs
  .cursor/plans/mvp-chat.md
  .cursor/plans/повторная-заявка-после-отзыва.plan.md
  DEVELOPMENT-PLAN.md
  MVP.md
  _temp-role-expertise/RULE.md
Due: prettier --write

docs(chat): add initial MVP chat plan with architectural guidelines and business rules
  .cursor/plans/CHAT.md
Due: prettier --write

feat(chat): define API contracts and validation schemas
  package.json
  src/lib/chat/contracts.ts
  src/lib/validations/chat.ts
  src/lib/validations/index.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

small fix
  DEVELOPMENT-PLAN.md
Due: prettier --write

feat(chat): add backend foundation and improve db tooling
  scripts/db/delete-users.ts
  scripts/db/migrate-shared.ts
  scripts/db/migrate.ts
  scripts/utils/cli-utils.ts
  src/app/api/v1/chat/ably/token/route.ts
  src/app/api/v1/chat/conversations/[conversationId]/messages/route.ts
  src/app/api/v1/chat/conversations/[conversationId]/read/route.ts
  src/app/api/v1/chat/conversations/route.ts
  src/lib/chat/ably.ts
  src/lib/chat/contracts.ts
  src/lib/chat/cursor.test.ts
  src/lib/chat/cursor.ts
  src/lib/chat/errors.ts
  src/lib/chat/service.ts
  src/lib/db/connection-error.ts
  src/lib/db/index.ts
  src/lib/db/migrations/20260330_015_create_chat_tables.ts
  src/lib/db/queries/chat.ts
  src/lib/validations/chat.test.ts
  src/types/database.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(chat): add chat workspace UI and realtime foundation
  TODO.md
  src/app/(account)/account/chat/[conversationId]/page.tsx
  src/app/(account)/account/chat/page.tsx
  src/features/account-sidebar.tsx
  src/features/chat/chat-api.ts
  src/features/chat/chat-conversations-list.tsx
  src/features/chat/chat-model.helpers.test.ts
  src/features/chat/chat-model.helpers.ts
  src/features/chat/chat-model.ts
  src/features/chat/chat-page.tsx
  src/features/chat/chat-realtime.ts
  src/features/chat/chat-thread.tsx
  src/features/chat/chat-workspace.tsx
  src/features/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(chat): improve chat UI components according to code rules
  src/features/chat/api.ts
  src/features/chat/chat-conversations-list.tsx
  src/features/chat/conversations-list.tsx
  src/features/chat/helpers.test.ts
  src/features/chat/helpers.ts
  src/features/chat/model.ts
  src/features/chat/page.tsx
  src/features/chat/panel.tsx
  src/features/chat/realtime.ts
  src/features/chat/thread.tsx
  src/features/chat/workspace.tsx
  src/features/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(frontend-advocate): enhance code guidelines for wrapper props and utility classes
  .cursor/agents/frontend-advocate.md
Due: prettier --write

refactor(features): normalize feature boundaries and frontend conventions
  src/app/(marketing)/playground/page.tsx
  src/features/account-portfolio-editor.tsx
  src/features/account-portfolio.tsx
  src/features/account-sidebar.tsx
  src/features/freelancer-profile/freelancer-public.tsx
  src/features/freelancers-card.tsx
  src/features/freelancers.tsx
  src/features/home/benefits-section.tsx
  src/features/home/faq-section.tsx
  src/features/home/hero-section.tsx
  src/features/home/showcase-section.tsx
  src/features/index.ts
  src/features/onboarding/onboarding-wizard.tsx
  src/features/onboarding/steps/email-verification-step.tsx
  src/features/playground/demo-portfolio-settings.tsx
  src/features/playground/demo-portfolio.tsx
  src/features/playground/quick-access.tsx
  src/features/projects/create-project-page.tsx
  src/features/projects/project-account-applications.tsx
  src/features/projects/project-application-form.tsx
  src/features/projects/project-card.tsx
  src/features/projects/project-withdraw-button.tsx
  src/features/projects/projects-page.tsx
  src/stores/freelancer-portfolio/model.ts
  src/stores/onboarding/model.ts
  src/stores/project-applications/model.ts
  src/ui/index.ts
  src/ui/portfolio/media-album.tsx
  src/ui/portfolio/media-item.tsx
  src/ui/portfolio/media-viewer.tsx
  src/ui/portfolio/portfolio-client.tsx
  src/ui/portfolio/portfolio.tsx
  src/utils/index.ts
  src/utils/search-params.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

improve(playground): enhance Card demo with dynamic sections and options
  src/features/playground/demo-aaa.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(projects): add client project applications view
  src/app/(account)/account/projects/applications/page.tsx
  src/features/chat/api.ts
  src/features/index.ts
  src/features/projects/project-applications.tsx
  src/features/projects/project-start-conversation-button.tsx
  src/features/server.ts
  src/lib/db/queries/projects.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(account): add server-hydrated account snapshot store
  .serena/memories/patterns/account-context-store.md
  src/app/(account)/layout.tsx
  src/features/account-layout.tsx
  src/features/account-sidebar.tsx
  src/features/account.tsx
  src/lib/account.ts
  src/lib/db/queries/freelancers.ts
  src/lib/db/queries/projects.ts
  src/stores/account-context/model.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

rules(effector): update guidelines for domain creation and sample usage
  .cursor/rules/effector.mdc
Due: none

refactor(stores): align Effector models with updated guidelines
  src/alerts/model.ts
  src/features/chat/model.ts
  src/features/projects/create-project-model.ts
  src/lib/logger/index.ts
  src/lib/logger/watched.ts
  src/modals/model.ts
  src/stores/account-context/model.ts
  src/stores/auth-login/model.ts
  src/stores/freelancer-portfolio/model.ts
  src/stores/freelancer-profile/model.ts
  src/stores/onboarding/model.ts
  src/stores/project-applications/model.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(sidebar): add context-aware sections and badges
  src/features/account-sidebar.tsx
  src/ui/shadcn/sidebar.tsx
  src/ui/sidebar.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(ui): update input components to support ref handling
  src/ui/shadcn/input-group.tsx
  src/ui/shadcn/input.tsx
  src/ui/shadcn/textarea.tsx
  src/ui/text-field.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

small UI improvements
  src/alerts/model.ts
  src/features/projects/project-application-form.tsx
  src/ui/dialog.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(dialog): support local toaster inside modal content
  src/alerts/index.ts
  src/alerts/model.ts
  src/ui/shadcn/dialog.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(auth): streamline login modal and improve sign-in flow
  src/features/auth/login-modal.tsx
  src/stores/auth-login/index.ts
  src/stores/auth-login/model.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(stores): centralize exports and remove nested barrels
  src/features/account-layout.tsx
  src/features/account-portfolio-editor.tsx
  src/features/account-sidebar.tsx
  src/features/auth/login-modal.tsx
  src/features/freelancer-profile/freelancer-profile-editor.tsx
  src/features/onboarding/onboarding-wizard.tsx
  src/features/onboarding/progress-stepper.tsx
  src/features/onboarding/steps/client-profile-step.tsx
  src/features/onboarding/steps/credentials-step.tsx
  src/features/onboarding/steps/email-verification-step.tsx
  src/features/onboarding/steps/freelancer-profile-step.tsx
  src/features/onboarding/steps/role-selection-step.tsx
  src/features/onboarding/steps/skills-selection-step.tsx
  src/features/projects/create-project-model.ts
  src/features/projects/project-application-form.tsx
  src/features/projects/project-withdraw-button.tsx
  src/stores/auth-login/index.ts
  src/stores/freelancer-portfolio/index.ts
  src/stores/freelancer-portfolio/model.ts
  src/stores/freelancer-profile/index.ts
  src/stores/index.ts
  src/stores/onboarding/index.ts
  src/stores/project-applications/model.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

chore(rules): update code style and development guidelines
  .cursor/rules/code-style.mdc
  .cursor/rules/develop.mdc
  .cursor/rules/file-organization.mdc
Due: none

feat(rules): introduce frontend rule audit command and guidelines for strict rule compliance
  .cursor/agents/PROMTS.md
  .cursor/commands/front-audit.md
  .cursor/rules/develop.mdc
Due: prettier --write

refactor(ui): add helperClassName prop to form components for improved styling
  src/ui/checkbox-switch.tsx
  src/ui/combobox.tsx
  src/ui/field.tsx
  src/ui/select.tsx
  src/ui/text-field.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(skeleton): add chat preset and playground demo
  src/features/playground/demo-skeleton-settings.tsx
  src/features/playground/demo-skeleton.tsx
  src/ui/skeleton.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(playground): improve components and naming
  src/features/playground/components-utils.tsx
  src/features/playground/components.tsx
  src/features/playground/demo-card-settings.tsx
  src/features/playground/demo-card.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(icon): add new animation props and size preset classes for enhanced icon functionality
  src/ui/icon.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(tabs): add size prop and playground demo
  src/features/playground/components-utils.tsx
  src/features/playground/components.tsx
  src/features/playground/demo-tabs-settings.tsx
  src/features/playground/demo-tabs.tsx
  src/ui/tabs.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(empty): improve mediaIcon prop and add playground demo
  src/features/playground/demo-empty-settings.tsx
  src/features/playground/demo-empty.tsx
  src/ui/empty.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

small fix
  src/ui/tabs.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(skeleton): add slot and itemClassName props for enhanced customization
  src/ui/skeleton.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(styles): add chat color variables to globals.css for enhanced theming
  src/app/globals.css
Due: prettier --write

chore(ui): sync playground icon catalog and tighten icon auditor rules
  .cursor/agents/icon-auditor.md
  src/features/playground/demo-icons-settings.tsx
  src/ui/assets.tsx
  src/ui/card.tsx
  src/ui/empty.tsx
  src/ui/portfolio/media-viewer.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(chat-ui): add chat UI components, demos, and integration plans
  .cursor/plans/CHAT-UI-INTEGRATION-NEXT.md
  .cursor/plans/CHAT-UI-SPEC.md
  src/features/playground/demo-chat-settings.tsx
  src/features/playground/demo-chat.tsx
  src/ui/chat/chat.tsx
  src/ui/chat/chats.tsx
  src/ui/chat/composer.tsx
  src/ui/chat/container.tsx
  src/ui/chat/message.tsx
  src/ui/chat/messages.tsx
  src/ui/chat/status.tsx
  src/ui/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

fix(text-field): expose the textarea variant types
  src/ui/text-field.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,css,md})
  bash -c 'tsc --noEmit': any of: *.{ts,tsx}
