Repository picasso/neuro-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

.lintstagedrc:

{
	"*.{ts,tsx}": [
		"eslint --fix --max-warnings 0",
		"prettier --write",
		"bash -c 'tsc --noEmit'"
	],
	"*.{js,jsx,json,css,md}": ["prettier --write"]
}

refactor(ui): enhance Badge, Card and Dialog components and update Playground
  src/app/globals.css
  src/features/playground/demo-aaa.tsx
  src/features/playground/demo-badge-settings.tsx
  src/features/playground/demo-badge.tsx
  src/features/playground/demo-dialog-settings.tsx
  src/features/playground/demo-dialog.tsx
  src/features/playground/playground-page.tsx
  src/ui/badge.tsx
  src/ui/card.tsx
  src/ui/dialog.tsx
  src/ui/types.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(auth): replace getSession with getSsrSafeSession for improved SSR handling
  src/app/(account)/layout.tsx
  src/features/header.tsx
  src/lib/auth/server.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(playground): enhance demo portfolio settings with debug controls
  src/features/playground/demo-portfolio-settings.tsx
  src/features/playground/demo-portfolio.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(agents): update frontend-advocate guidelines to include new visual wrappers and best practices for UI components
  .cursor/agents/frontend-advocate.md
Due: prettier --write

chore(ui): small improvements
  src/features/home/benefits-section.tsx
  src/features/home/showcase-section.tsx
  src/features/onboarding/onboarding-wizard.tsx
  src/features/onboarding/steps/role-selection-step.tsx
  src/ui/assets.tsx
  src/ui/card.tsx
  src/ui/file-uploader.tsx
  src/ui/stepper.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(ui): add useClickOutside hook for handling click events outside a specified element
  src/ui/hooks/use-click-outside.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(portfolio): improve portfolio upload flow and media preview UX
  next.config.mjs
  src/app/api/freelancers/[id]/portfolio/route.ts
  src/config/config.ts
  src/features/account-portfolio-editor.tsx
  src/features/account-portfolio.tsx
  src/features/freelancer-profile/public-profile-view.tsx
  src/features/index.ts
  src/features/playground/demo-portfolio.tsx
  src/features/portfolio/portfolio-album.tsx
  src/features/portfolio/portfolio-editor.tsx
  src/features/portfolio/portfolio-item.tsx
  src/features/portfolio/portfolio-viewer.tsx
  src/features/portfolio/portfolio.tsx
  src/stores/freelancer-portfolio/model.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

chore(ui): small improvements
  src/ui/assets.tsx
  src/ui/empty.tsx
  src/ui/page-shell.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(freelancer-profile): refactor FreelancerPublic with ui wrappers and update profile page layout
  src/features/freelancer-profile/freelancer-profile-page.tsx
  src/features/freelancer-profile/freelancer-public.tsx
  src/features/freelancer-profile/public-profile-view.tsx
  src/features/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(agents): update frontend guidelines to enforce usage of `@/ui` components and improve image handling practices
  .cursor/agents/PROMTS.md
  .cursor/agents/frontend-advocate.md
  .cursor/agents/fullstack-dev.md
Due: prettier --write

feat(freelancers): launch public freelancer directory page
  src/app/(marketing)/freelancers/page.tsx
  src/app/api/freelancers/route.ts
  src/config/index.ts
  src/config/mocks/freelancer-catalog.ts
  src/config/mocks/index.ts
  src/features/freelancers-card.tsx
  src/features/freelancers-page.tsx
  src/features/freelancers.tsx
  src/features/index.ts
  src/features/server.ts
  src/lib/db/queries/freelancers.ts
  src/lib/validations/freelancer-directory.ts
  src/lib/validations/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

fix(auth): use public image paths in login modal
  TODO.md
  src/features/auth/login-modal.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

chore(ui): small fixes
  src/features/onboarding/progress-stepper.tsx
  src/lib/db/test-connection.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

fix(auth): add logout loading state and refresh header session
  src/features/header-auth.tsx
  src/ui/assets.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(alert): enhance alert colors and hover effects
  src/alerts/alert.tsx
  src/ui/alert.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

fix(auth): improve user experience in login flow by adjusting alert handling and modal behavior
  src/features/auth/login-modal.tsx
  src/stores/auth-login/model.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(freelancers): fix card styling and layout for improved UI consistency
  src/features/freelancers-card.tsx
  src/features/freelancers.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(utils): pluralizeRuWithCount for Russian declension, replace local helpers
  TODO.md
  src/features/account-portfolio-editor.tsx
  src/features/freelancer-profile/freelancer-public.tsx
  src/features/freelancers-card.tsx
  src/features/freelancers.tsx
  src/utils/index.ts
  src/utils/pluralize-ru.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(agents): improve agents rules
  .cursor/agents/frontend-advocate.md
  .cursor/agents/fullstack-dev.md
  .cursor/rules/collaboration.mdc
Due: prettier --write

docs(cursor): streamline and align project rules
  .cursor/rules/api-design.mdc
  .cursor/rules/architecture.mdc
  .cursor/rules/code-style.mdc
  .cursor/rules/db-scripts.mdc
  .cursor/rules/develop.mdc
  .cursor/rules/effector.mdc
  .cursor/rules/immer.mdc
  .cursor/rules/page-shell.mdc
  .cursor/rules/react-nextjs.mdc
  .cursor/rules/serena-memory.mdc
  .cursor/rules/shadcn-wrapper-playground.mdc
  .cursor/rules/testing.mdc
  AGENTS.md
Due: prettier --write

chore(tooling): migrate to Yarn 4 and remove unused app Docker setup
  .cursor/rules/tech-stack.mdc
  .dockerignore
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .github/workflows/quick-check.yml
  .gitignore
  .prettierignore
  .serena/memories/project_overview.md
  .yarnrc
  .yarnrc.yml
  AGENTS.md
  Dockerfile
  MVP.md
  README.md
  docs/VERCEL-SETUP.md
  package.json
  scripts/db/README.md
  scripts/db/migrate-production.sh
  scripts/db/reset-railway.sh
  yarn.lock
Due: prettier --write

chore(husky): update pre-commit and pre-push scripts to use Corepack for Yarn commands
  .husky/pre-commit
  .husky/pre-push
Due: none

feat(rules): add PR language format guidelines for English and Russian content
  .cursor/rules/pr-language-format.mdc
Due: none

docs(changelog): add 0.4.1 release notes
  .cursor/commands/ver.md
  CHANGELOG.md
  package.json
Due: prettier --write

fix(ci): remove yarn cache configuration from CI workflows
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .github/workflows/quick-check.yml
Due: none

fix(vercel): use committed Yarn 4 release instead of Corepack
  .yarn/releases/yarn-4.13.0.cjs
  .yarnrc.yml
Due: none

docs(architecture): document Yarn 4 deployment strategy on Vercel and remove obsolete files
  ARCHITECTURE-DECISIONS.md
  BLOCKS.md
  CHANGELOG.md
  MUI-REMAINING-FILES.md
  docs/MUI-THEME.md
  docs/VERCEL-SETUP.md
Due: prettier --write

docs(TODO): add research tasks for potential migration to Yarn PnP after stabilizing Yarn 4
  TODO.md
Due: prettier --write

chore(dependencies): update package versions and improve compatibility
  TODO.md
  package.json
  yarn.lock
Due: prettier --write

feat(projects): add freelancer project marketplace MVP
  src/app/(account)/account/applications/page.tsx
  src/app/(marketing)/projects/[id]/page.tsx
  src/app/(marketing)/projects/page.tsx
  src/app/api/applications/[id]/route.ts
  src/app/api/applications/route.ts
  src/app/api/projects/[id]/applications/route.ts
  src/app/api/projects/[id]/route.ts
  src/app/api/projects/route.ts
  src/features/account-dashboard.tsx
  src/features/account-sidebar.tsx
  src/features/index.ts
  src/features/projects-page.tsx
  src/features/projects/account-applications.tsx
  src/features/projects/project-application-form.tsx
  src/features/projects/project-card.tsx
  src/features/projects/project-detail-page.tsx
  src/features/projects/project-helpers.ts
  src/features/projects/projects-page.tsx
  src/features/projects/withdraw-application-button.tsx
  src/features/server.ts
  src/lib/db/migrations/20260317_014_create_projects_and_applications.ts
  src/lib/db/queries/projects.ts
  src/lib/security.ts
  src/lib/swagger/config.ts
  src/lib/validations/index.ts
  src/lib/validations/project-directory.ts
  src/lib/validations/projects.test.ts
  src/lib/validations/projects.ts
  src/proxy.ts
  src/stores/project-applications/model.ts
  src/types/database.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(account): introduce PendingContent component for profile and portfolio sections
  src/features/account-dashboard.tsx
  src/features/account-pending.tsx
  src/features/account-portfolio.tsx
  src/features/account-profile.tsx
  src/features/account-sidebar.tsx
  src/features/projects/account-applications.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

fix(db): align project skill migration and improve database scripts UX
  package.json
  scripts/db/README.md
  scripts/db/migrate-rollback.ts
  scripts/db/migrate-shared.ts
  scripts/db/migrate-status.ts
  scripts/db/migrate.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(package): add typegen script and update routing guidelines in documentation
  .cursor/agents/fullstack-dev.md
  package.json
Due: prettier --write

fix(ui): enhance TextStyled component to handle markdown rendering within a <p> - <p> cannot be a descendant of <p>
  src/ui/text-styled.tsx
  src/utils/simple-markdown.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(ui): support 'accent' prop to various UI components for enhanced customization
  src/ui/alert.tsx
  src/ui/button.tsx
  src/ui/dialog.tsx
  src/ui/file-uploader.tsx
  src/ui/icon.tsx
  src/ui/sidebar-menu.tsx
  src/ui/sidebar.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(ui): add new icons and enhance existing icon support
  src/features/home/benefits-section.tsx
  src/ui/assets.tsx
  src/ui/icon.tsx
  src/ui/icons/api.tsx
  src/ui/icons/icons.tsx
  src/ui/icons/missing.tsx
  src/ui/icons/missing2.tsx
  src/ui/icons/person.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(ui): improve Badge, Empty and Card wrappers and update Playground demo
  src/features/playground/components.tsx
  src/features/playground/demo-aaa-settings.tsx
  src/features/playground/demo-aaa.tsx
  src/features/playground/demo-badge-settings.tsx
  src/features/playground/demo-badge.tsx
  src/ui/badge.tsx
  src/ui/card.tsx
  src/ui/empty.tsx
  src/ui/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

chore(ui): small improvements
  src/features/freelancers-card.tsx
  src/features/onboarding/steps/email-verification-step.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(projects): add account project creation flow
  src/app/(account)/account/projects/new/page.tsx
  src/app/(marketing)/post-project/page.tsx
  src/config/index.ts
  src/config/metadata/pages.ts
  src/features/account-sidebar.tsx
  src/features/index.ts
  src/features/post-project-page.tsx
  src/features/projects/create-project-model.ts
  src/features/projects/create-project-page.tsx
  src/features/projects/project-account-applications.tsx
  src/features/projects/project-card.tsx
  src/features/projects/project-helpers.ts
  src/features/projects/project-withdraw-button.tsx
  src/features/projects/project.tsx
  src/features/server.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

chore(release): bump version to 0.4.3 and update release notes
  CHANGELOG.md
  DEVELOPMENT-PLAN.md
  package.json
Due: prettier --write
