Repository picasso/neuro-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

improve 'ver' command
  .cursor/commands/ver.md
Due: prettier --write

transfer previously created documents to the desired folder
  docs/DATABASE-SETUP.md
  docs/GIT-HOOKS-SETUP.md
  docs/KYSELY-USAGE.md
Due: prettier --write

improve and fix Changelog
  CHANGELOG.md
Due: prettier --write

chore: bump version to 0.2.1 (stage 2.1 completed)
  CHANGELOG.md
  package.json
Due: prettier --write

docs: add git push permissions info to ver command
  .cursor/commands/ver.md
Due: prettier --write

fix 'required_permissions' option
  .cursor/commands/ver.md
Due: prettier --write

disable deploy on push
  .github/workflows/deploy-production.yml
Due: none

docs: update Railway PostgreSQL setup status in development plan
  DEVELOPMENT-PLAN.md
Due: prettier --write

docs: add Vercel deployment configuration and documentation
  DEVELOPMENT-PLAN.md
  README.md
  docs/VERCEL-QUICKSTART.md
  docs/VERCEL-SETUP.md
  vercel.json
Due: prettier --write

chore: bump version to 0.2.2 (stage 2.2 completed)
  CHANGELOG.md
  package.json
Due: prettier --write

fix: remove custom install command from vercel.json
  vercel.json
Due: prettier --write

fix: resolve Vercel build warnings
  package.json
  src/app/layout.tsx
  src/config/metadata/utils.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

chore: update better-auth to 1.4.17
  package.json
  yarn.lock
Due: prettier --write

feat: add debug logger system
  package.json
  src/lib/logger/README.md
  src/lib/logger/debug-effector.ts
  src/lib/logger/debug-load.ts
  src/lib/logger/debug.ts
  src/lib/logger/index.ts
  src/lib/logger/modules.d.ts
  src/lib/logger/watched.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat: add common and dom utility functions
  src/utils/common.ts
  src/utils/dom.ts
  src/utils/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

test: add unit tests for common and dom utilities
  src/utils/common.test.ts
  src/utils/dom.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat: implement onboarding wizard backend (Phase 1)
  .cursor/rules/effector/RULE.md
  .cursor/rules/immer/RULE.md
  src/app/api/skills/route.ts
  src/app/api/user-skills/route.ts
  src/app/api/user/profile/route.ts
  src/lib/logger/index.ts
  src/lib/logger/watched.ts
  src/lib/validations/index.ts
  src/lib/validations/onboarding.ts
  src/stores/onboarding/index.ts
  src/stores/onboarding/model.ts
  src/stores/onboarding/types.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat: implement onboarding wizard UI (Phase 2)
  src/app/signup/page.tsx
  src/components/forms/onboarding/index.ts
  src/components/forms/onboarding/onboarding-wizard.tsx
  src/components/forms/onboarding/progress-stepper.tsx
  src/components/forms/onboarding/steps/client-profile-step.tsx
  src/components/forms/onboarding/steps/credentials-step.tsx
  src/components/forms/onboarding/steps/email-verification-step.tsx
  src/components/forms/onboarding/steps/freelancer-profile-step.tsx
  src/components/forms/onboarding/steps/role-selection-step.tsx
  src/components/forms/onboarding/steps/skills-selection-step.tsx
  src/stores/onboarding/index.ts
  src/stores/onboarding/model.ts
  src/stores/onboarding/types.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

docs: add development best practices and anti-patterns rule
  .cursor/rules/develop/RULE.md
Due: prettier --write

refactor: port debug.ts to strict TypeScript and add comprehensive docs
  DEVELOPMENT-PLAN.md
  src/lib/logger/DEBUG.md
  src/lib/logger/debug.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

add debug load for development mode
  src/components/providers/ThemeRegistry.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

small improvements
  .cursor/rules/immer/RULE.md
  tsconfig.json
Due: prettier --write

feat(auth): implement profile creation via Better Auth hook with Nanoid IDs
  ARCHITECTURE-DECISIONS.md
  knexfile.ts
  src/components/forms/onboarding/onboarding-wizard.tsx
  src/components/forms/onboarding/steps/skills-selection-step.tsx
  src/lib/auth/config.ts
  src/lib/db/migrations/20260120_001_create_users_table.ts
  src/lib/db/migrations/20260120_003_create_sessions_table.ts
  src/lib/db/migrations/20260128_007_create_user_profiles_text.ts
  src/lib/db/migrations/20260128_008_create_skills_text.ts
  src/lib/db/migrations/20260128_009_setup_fulltext_search.ts
  src/lib/db/pool.ts
  src/lib/db/seeds/001_skills.ts
  src/stores/onboarding/model.ts
  src/stores/onboarding/types.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

small imrovements
  src/lib/db/seeds/002_test_users.ts
  src/lib/logger/debug.ts
  src/lib/logger/watched.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(onboarding): reorder steps and save skills via Better Auth hook
  src/components/forms/onboarding/onboarding-wizard.tsx
  src/lib/auth/config.ts
  src/stores/onboarding/model.ts
  src/stores/onboarding/types.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

chore(scripts): organize database scripts and add user deletion utility
  package.json
  scripts/db/check-db.ts
  scripts/db/delete-users.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

fix settings
  .vscode/settings.json
Due: prettier --write

refactor: remove unused effects and update development plan
  DEVELOPMENT-PLAN.md
  src/components/forms/onboarding/onboarding-wizard.tsx
  src/stores/onboarding/index.ts
  src/stores/onboarding/model.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(scripts): add Railway database reset utility
  knexfile.ts
  package.json
  scripts/db/drop-all-tables.ts
  scripts/db/reset-railway.sh
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(scripts): centralize CLI utilities and improve DB scripts UX
  .cursor/rules/db-scripts/RULE.md
  package.json
  scripts/db/check-db.ts
  scripts/db/delete-users.ts
  scripts/db/drop-all-tables.ts
  scripts/utils/cli-utils.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

docs: add CLI utilities architecture decision
  ARCHITECTURE-DECISIONS.md
Due: prettier --write

feat(utils): add simple markdown utility with MUI theme support
  src/utils/index.ts
  src/utils/simple-markdown.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

improve rules
  eslint.config.mjs
Due: none

feat(ui): add Icon component with assets management
  eslint.config.mjs
  src/components/ui/assets.tsx
  src/components/ui/icon.tsx
  src/components/ui/icons/index.tsx
  src/components/ui/icons/spinner.svg
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

refactor(ui-theme): split theme configuration into separate modules
  src/components/ui-theme/animations.ts
  src/components/ui-theme/components.ts
  src/components/ui-theme/index.ts
  src/components/ui-theme/mui-modules.d.ts
  src/components/ui-theme/theme.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(utils): add string formatting and class merge utilities
  src/utils/common.ts
  src/utils/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(ui): add Button and TextStyled components
  src/components/ui/button.tsx
  src/components/ui/index.ts
  src/components/ui/text-styled.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

fix(theme): replace css() with CSSObject for server-side compatibility
  src/components/ui-theme/animations.ts
  src/utils/simple-markdown.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(ui): enhance Icon component with proper naming, default colors and demo
  src/app/playground/demo-icons.tsx
  src/components/ui-theme/components.ts
  src/components/ui-theme/mui-modules.d.ts
  src/components/ui/assets.tsx
  src/components/ui/icon.tsx
  src/components/ui/icons/index.tsx
  src/components/ui/icons/spinner.svg
  src/components/ui/icons/spinner.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

feat(playground): add development playground with component demos
  src/app/playground/demo-alerts.tsx
  src/app/playground/layout.tsx
  src/app/playground/page.tsx
  src/components/ui/header.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,css,md})
  bash -c 'tsc --noEmit': any of: *.{ts,tsx}
